#root {
    height: 100%;
    width: 100%;
    display: flex;
}

.page-content {
    padding: 24px;
    width: 100%;
}

.page-content h2 {
    margin: 0 0 8px;
}

.page-content p {
    margin: 0;
    line-height: 1.5;
}

.page-content-top {
    padding: 16px 32px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.justify-center {
    justify-content: center;
}
